[Unit]
Description=Jdenticon generator server
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=npm start
User=jdenticon-statink
Group=jdenticon-statink
WorkingDirectory=/home/jdenticon-statink

[Install]
WantedBy=multi-user.target
