[Unit]
Description=Jdenticon generator server
After=network.target
Requires=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/npm start
ExecStop=/bin/kill ${MAINPID}
User=jdenticon-statink
Group=jdenticon-statink
WorkingDirectory=/home/jdenticon-statink/jdenticon-statink

[Install]
WantedBy=multi-user.target
