[Unit]
Description=Jdenticon generator server
After=network.target docker.service
Requires=network.target docker.service

[Service]
Type=simple
Restart=always
ExecStartPre=/usr/bin/docker-compose--project-name prod-jdenticon build
ExecStart=/usr/bin/docker-compose --project-name prod-jdenticon up --no-color
ExecStop=/bin/kill ${MAINPID}
User=jdenticon-statink
Group=jdenticon-statink
WorkingDirectory=/home/jdenticon-statink/jdenticon-statink

[Install]
WantedBy=multi-user.target
